<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="row align-items-center">
                <div class="col-3">
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                                class="path2"></span></i> <input type="text" [(ngModel)]="search"
                            (keyup.enter)="listProducts()" name="search" data-kt-customer-table-filter="search"
                            class="form-control form-control-solid w-200px ps-12" placeholder="Buscar Producto">
                    </div>
                    <div class="text-muted fs-7">Buscar producto</div>
                </div>
                <div class="col-2">
                    <!--begin::Select2-->
                    <select class="form-select mb-2 w-180px ps-12" [(ngModel)]="product_categorie_id"
                        name="product_categorie_id">
                        <ng-container *ngFor="let CATEGORIE of CATEGORIES">
                            <option [value]="CATEGORIE.id">{{CATEGORIE.name}}</option>
                        </ng-container>
                    </select>
                    <!--end::Select2-->
                    <div class="text-muted fs-7">Categoría</div>
                </div>
                <div class="col-2">
                    <select class="form-select mb-2 w-180px ps-12" [(ngModel)]="disponibilidad" name="disponibilidad">
                        <option value="1">Vender productos sin stock</option>
                        <option value="2">NO vender los prodcutos sin stock</option>
                        <option value="3">Proyectar con los contratos que se tenga</option>
                    </select>
                    <div class="text-muted fs-7">Disponibilidad</div>
                </div>
                <div class="col-2">
                    <!--begin::Select2-->
                    <select class="form-select mb-2" [(ngModel)]="tax_selected" name="tax_selected">
                        <option data-select2-id="select2-data-17-625e"></option>
                        <option value="0">Libre de impuestos</option>
                        <option value="1">Bienes sujetos a impuestos</option>
                        <option value="2">Producto descargable</option>
                    </select>
                    <div class="text-muted fs-7">Tipo de Impuesto</div>
                    <!--end::Select2-->
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary" *ngIf="element == false" (click)="mostrarBusqueda()">+</button>
                    <button type="button" class="btn btn-primary" *ngIf="element == true" (click)="ocultarBusqueda()">-</button>
                </div>
                <div class="col-2 d-flex">
                    <button class="btn btn-primary btn-sm mx-1" (click)="listProducts()">
                        <i class="ki-duotone ki-magnifier fs-2"><span class="path1"></span><span
                                class="path2"></span></i>
                    </button>
                    <button class="btn btn-primary btn-sm" (click)="resetlistProducts()">
                        <i class="ki-duotone ki-loading fs-2"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                </div>
            </div>
            <!--end::Search-->

            <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">

                <!--begin::Add customer-->
                <button type="button" class="btn btn-primary" routerLink="/productos/register">
                    + Add Product
                </button>
                <!--end::Add customer-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
        </div>
        <!--begin::Card title-->
        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>

    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
         <!--begin::busqueda -->
        <div class="row align-items-center" *ngIf="element == true">
            <div class="col-3" id="element">
                <!--begin::Select2-->
                <select class="form-select mb-2" [(ngModel)]="sucursale_precio_multiple"
                    name="sucursale_precio_multiple">
                    <ng-container *ngFor="let SUCURSALE of SUCURSALES">
                        <option [value]="SUCURSALE.id">{{SUCURSALE.name}}</option>
                    </ng-container>
                </select>
                <!--end::Select2-->
                <div class="text-muted fs-7">Sucursales</div>
            </div>
            <div class="col-3">
                    <select class="form-select mb-2" [(ngModel)]="almacen_warehouse" name="almacen_warehouse">
                    <ng-container *ngFor="let WAREHOUSE of WAREHOUSES">
                        <option [value]="WAREHOUSE.id">{{WAREHOUSE.name}}</option>
                    </ng-container>
                </select>
                <div class="text-muted fs-7">Almacenes</div> 
            </div>
            <div class="col-3">
                <select class="form-select mb-2" [(ngModel)]="segmentclient_precio_multiple"
                name="segmentclient_precio_multiple">
                <ng-container *ngFor="let CLIENT_SEGMENT of CLIENT_SEGMENTS">
                    <option [value]="CLIENT_SEGMENT.id">{{CLIENT_SEGMENT.name}}</option>
                </ng-container>
            </select>
            <!--begin::Description-->
            <div class="text-muted fs-7">Seleccione un Segmento Cliente</div>
            <!--end::Description-->

            </div>
            <div class="col-3"></div>
        </div>
        <!--end::busqueda -->
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_customers_table"
                    style="width: 100%;">

                    <thead>
                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" role="row">

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Productos</span><span
                                    class="dt-column-order"></span>
                            </th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Categoría</span><span
                                    class="dt-column-order"></span>
                            </th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Precio General</span><span
                                    class="dt-column-order"></span>
                            </th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Disponibilidad</span><span
                                    class="dt-column-order"></span>
                            </th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">SKU</span><span
                                    class="dt-column-order"></span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Tipo Impuesto</span><span
                                    class="dt-column-order"></span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">State</span><span
                                    class="dt-column-order"></span>
                            </th>


                            <th class="text-end min-w-70px dt-orderable-none" data-dt-column="6" rowspan="1" colspan="1"
                                aria-label="Actions"><span class="dt-column-title">Actions</span><span
                                    class="dt-column-order"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        <ng-container *ngFor="let PRODUCT of PRODUCTS">
                            <tr>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-50px me-5">
                                            <img [src]="PRODUCT.imagen" class="" alt="">
                                        </div>

                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="#"
                                                class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{PRODUCT.title}}</a>
                                            <span
                                                class="text-muted fw-semibold text-muted d-block fs-7">{{PRODUCT.peso}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{PRODUCT.product_categorie.name}}<!--  product_categorie es el nombre que le asiganamos a conjunto de datos del ProductResource-->
                                </td>
                                <td>
                                    {{PRODUCT.price_general}}
                                </td>
                                <td>
                                    {{ getDisponibilidad(PRODUCT.disponibilidad)}}
                                </td>
                                <td>
                                    {{PRODUCT.sku}}
                                </td>
                                <td>
                                    {{ getTipoImpuesto(PRODUCT.tax_selected)}}
                                </td>
                                <td>
                                    <span class="badge badge-light-success" *ngIf="PRODUCT.state==1">Activo</span>
                                    <span class="badge badge-light-danger" *ngIf="PRODUCT.state==2">Inactivo</span>
                                </td>

                                <td class="">
                                    <a [routerLink]="['/productos/list/editar/'+PRODUCT.id]" routerLinkActive="router-link-active" 
                                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                        <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </a>

                                    <a *ngIf="PRODUCT.id > 1" href="#" onclick="return false;"
                                        (click)="deleteProduct(PRODUCT)"
                                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                        <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span
                                                class="path2"></span><span class="path3"></span><span
                                                class="path4"></span><span class="path5"></span></i>
                                    </a>
                                </td>
                            </tr>

                        </ng-container>


                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <ngb-pagination [collectionSize]="totalPages" [(page)]="currentPage" [pageSize]="25" [rotate]="true"
                [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
<!--begin::Card-->